<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Challenge</title>
    <link rel="stylesheet" href="../static/css/challengeCreate.css" />
  </head>

  <body>
    <div class="bg-modal">
      <form class="modalContent" method="POST" action="">
      {% csrf_token %}
        <div class="lectureName">강의명</div>
        <div>
          <input type="text" placeholder="ex)해석학 및 실습" name="lecture" />
        </div>
        <div class="lectureProfessor">교수님</div>
        <div><input type="text" placeholder="ex)홍길동 교수님" name="prof"/></div>
        <div class="lectureSemester">수강한 학기</div>
        <div><input type="text" placeholder="ex)2019년-2학기" name="term"/></div>
        <div class="lectureAttend">출석체크</div>
        <select name="attend">
          <option value="1">1점</option>
          <option value="2">2점</option>
          <option value="3">3점</option>
          <option value="3">4점</option>
          <option value="3">5점</option>
        </select>
        <div class="lectureLevel">난이도</div>
        <select name="Level">
          <option value="1">1점</option>
          <option value="2">2점</option>
          <option value="3">3점</option>
          <option value="3">4점</option>
          <option value="3">5점</option>
        </select>
        <div class="lectureStudy">학습량</div>
        <select name="Study">
          <option value="1">1점</option>
          <option value="2">2점</option>
          <option value="3">3점</option>
          <option value="3">4점</option>
          <option value="3">5점</option>
        </select>
        <div class="lectureGrade">학점</div>
        <select name="Grade">
          <option value="1">1점</option>
          <option value="2">2점</option>
          <option value="3">3점</option>
          <option value="3">4점</option>
          <option value="3">5점</option>
        </select>
        <div class="lectureValue">성취감</div>
        <select name="Value">
          <option value="1">1점</option>
          <option value="2">2점</option>
          <option value="3">3점</option>
          <option value="3">4점</option>
          <option value="3">5점</option>
        </select>
        <div class="lectureValue">평가 내용</div>
        <textarea name="content" cols="41" rows="10"></textarea>
        <div class="lectureMake">
          <input type="submit" value="강의평가 완성" />
        </div>
      </form>
    </div>
  </body>
</html>
