<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>과기대멋사8기</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/secondMain.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    
</head>

<body>
    {% load static %}
    <div class="main">
        <div class="header">
            <a href="{% url 'account:home' %}" class="header__logo">
                <img src="../static/img/logo.png" alt="로고입니다." />
            </a>
            <div class="header__navbar">
                <a href="{% url 'account:home' %}">Home</a>
                <a href="">Lecture</a>
                {% if user.is_active == True %}
                <a href="{% url 'account:logout' %}">Log out</a>
                <p>{{nickname}}</p>
                {% else %}
                <a href="{% url 'account:login' %}">Log in</a>
                {% endif %}
            </div>
        </div>
        <div class="mainBody">
            <div class="lecture">
                <div class="lectureList">강의평가 목록</div>
                <form class="searchBar" method="POST">
                    {% csrf_token %}
                    강의평가 검색
                    <input name="search" type="search" placeholder="강의명을 입력해주세요"/>
                    <button type="submit">검색</button>
                </form>
                {% for post in post_list %}
                <div class="lectureContainer">
                        <div class="lectureHead">
                            <div class="lectureTitle">{{post.class_name}}</div>
                            <div class="lectureProfessor">{{post.prof}}</div>
                            <div class="lectureSemester">{{post.term}}</div>
                        </div>
                        <div class="lectureBorder"></div>
                        <div class="lectureContent" style="display : flex;">
                        <div class="lectureLeft" style="float : left; width : 60%;">
                            <div class="lectureAttend">{{post.content}}</div>
                        </div>
                        <div style="text-align: right; width : 40%;">
                            <div class="lectureAttend">출석체크 : {{post.check_att}}점</div>
                            <div class="lectureLevel">난이도 : {{post.lev_of_diff}}점</div>
                            <div class="lectureStudy">학습량 : {{post.quantity}}</div>
                            <div class="lectureGrade">학점 : {{post.grade}}점</div>
                            <div class="lectureValue">성취감 : {{post.achievement}}점</div>
                            <div class="lectureAvg">평점 : {{post.total_score}}점</div>
                        </div>
                    </div>
                        <div class="change" style="display : flex; float : right; padding : 3px;">
                            <div class="update" style="padding : 2px; color : blue;">
                                <p><a href="{% url 'post:update' post.id %}">수정</a></p>  
                            </div>
                            <div class="delete" style="padding : 2px;color : red;">
                                <p><a href="{% url 'post:delete' post.id %}">삭제</a></p>  
                            </div>
                        </div>
                </div>
                {% endfor %}
                <div class="lectureUpload">
                    <a href="{% url 'post:post' %}"><img src="../static/img/challengeUploadBtn.svg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
