<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="header">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="../static/img/logo.png" alt="로고입니다." />
            </a>
            <div class="header__navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="">Lecture</a>
                <a href="">Log in</a>
            </div>
        </div>
            <div class="mainBody">
                <div class="loginTitle">회원가입</div>
                <form class="loginBody" method="POST">
                    {% csrf_token %}
                    <div>
                        <label>Email<br />
                            <input type="email" name="id" placeholder="이메일을 입력해주세요." value="" />
                        </label>
                    </div>
                    <div>
                        <label>닉네임<br />
                            <input type="text" name="nickname" placeholder="닉네임을 입력해주세요." value="" />
                        </label>
                    </div>
                    <div>
                        <label>비밀번호<br />
                            <input type="password" name="password1" placeholder="패스워드를 입력해주세요." />
                        </label>
                    </div>
                    <div>
                        <label>비밀번호 확인<br />
                            <input type="password" name="password2" placeholder="패스워드를 확인해주세요" />
                        </label>
                    </div>
                    <div>
                        {% if messages %}
                        {% for message in messages %}
                        {{ message.message }}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit">회원가입</button>
                </form>
                <div class="loginFoot">
                </div>
            </div>
        </div>
</body>

</html>